# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradlew
gradlew.bat
settings.gradle.kts
.vscode/settings.json
app/build.gradle.kts
gradle/libs.versions.toml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.gitattributes
